$color-icone: #04c1ff;

.services {
  max-width: 80%;
  margin: 0 auto;

  &__item {
    display: inline-block;

    .col {
      text-align: left;
      float: left;
      margin-right: 5%;
      margin-bottom: 5%;
      width: 46%;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 800px) {
        float: none;
        width: 100%;
    
        &:last-child {
          margin: 0;
        }
      }

      .material-icons {
        color: $color-icone;
        float: left;
        height: 100%;
        position: relative;
        top: 20px;
      }
    }
  }
}
